@model FormBuddyWeb.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Login to FormBuddy Web</h4>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary();
            <div class="row">
                <div class="col-xs-6">
                    <div class="well">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <label for="username" class="control-label">User Name</label>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                <span class="help-block"></span>
                            </div>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m=>m.RememberMe) Remember login
                                </label>
                                <p class="help-block">(if this is a private computer)</p>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        }
                    </div>
                </div>
                <div class="col-xs-6">
                    <p class="lead">Register now for <span class="text-success">FREE</span></p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span> See all your project</li>
                        <li><span class="fa fa-check text-success"></span> Share your test data</li>
                    </ul>
                    @Html.ActionLink("Register now!", "Register");
                </div>
            </div>
        </div>
    </div>
</div>
